/*!
 *
 * Copyright 2016 CREATEC(www.createcdigital.com)
 *
 */

@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
html,body{height:100%}
body,input,button,textarea,select{font-size:16px; font-family: "SimHei",Tahoma,Helvetica,Arial; color:#fff;overflow: hidden;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li,dd{list-style:none}
a{color:#d30000;text-decoration:none}
a:hover,a:active{text-decoration:underline}
section,article,aside,header,footer,nav,dialog,figure,hgroup{display:block}
img{max-width:100%;}
.hiddenimg{display:none}

/* loading */
body{background:#000;background:-webkit-gradient(radial,center center,120,center center,900,from(#33495e),to(#2e2329));background:-moz-radial-gradient(circle,#33495e,#2e2329)}
.loader{margin:0 auto; width:640px; position: absolute;top:485px;left:-3px;  }h1{font-family:'Actor',sans-serif;color:#FFF;font-size:16px;letter-spacing:1px;font-weight:200;text-align:center}.loader span{width:16px;height:16px;border-radius:50%;display:inline-block;position:absolute;left:50%;margin-left:-10px;-webkit-animation:3s infinite linear;-moz-animation:3s infinite linear;-o-animation:3s infinite linear}.loader span:nth-child(2){background:#e84c3d;-webkit-animation:kiri 1.2s infinite linear;-moz-animation:kiri 1.2s infinite linear;-o-animation:kiri 1.2s infinite linear}.loader span:nth-child(3){background:#f1c40f;z-index:100}.loader span:nth-child(4){background:#2fcc71;-webkit-animation:kanan 1.2s infinite linear;-moz-animation:kanan 1.2s infinite linear;-o-animation:kanan 1.2s infinite linear}@-webkit-keyframes kanan{0%{-webkit-transform:translateX(20px)}50%{-webkit-transform:translateX(-20px)}100%{-webkit-transform:translateX(20px);z-index:200}}@-moz-keyframes kanan{0%{-moz-transform:translateX(20px)}50%{-moz-transform:translateX(-20px)}100%{-moz-transform:translateX(20px);z-index:200}}@-o-keyframes kanan{0%{-o-transform:translateX(20px)}50%{-o-transform:translateX(-20px)}100%{-o-transform:translateX(20px);z-index:200}}@-webkit-keyframes kiri{0%{-webkit-transform:translateX(-20px);z-index:200}50%{-webkit-transform:translateX(20px)}100%{-webkit-transform:translateX(-20px)}}@-moz-keyframes kiri{0%{-moz-transform:translateX(-20px);z-index:200}50%{-moz-transform:translateX(20px)}100%{-moz-transform:translateX(-20px)}}@-o-keyframes kiri{0%{-o-transform:translateX(-20px);z-index:200}50%{-o-transform:translateX(20px)}100%{-o-transform:translateX(-20px)}}
.loader-e-1{width:640px;height:100%;position: absolute;left: 0px;top:0px;}
.loading{width:640px;height:100%;position: absolute;left: 0px;top:0px;background-color: #fff;}
.loader h1{color: #d9b16a;font-size: 35px;font-weight: bold;}
/* audio player */
.audio-icon {position: absolute; right: 30px; top: 30px; z-index: 200; display: block; width: 44px; height: 44px;background-repeat: no-repeat; background-image: url(../media/music-icon.png); background-size: contain; display: none;}
.audio-icon-stop {background-image: url(../media/music-icon-s.png);}

/*p1*/
.swiper-container{width:640px; height:100%; display: none;}
.p1 .btn1{width: 100px; height: 100px;position: absolute;left: 153px;top: 860px;}
.p1 .btn2{width: 150px; height: 140px;position: absolute;left: 365px;top: 810px;}

/*p2*/
.p2 .btn1{width: 130px; height: 130px;position: absolute;left: 225px;top: 810px;}
.p2 .btn2{width: 80px; height: 80px;position: absolute;left: 430px;top: 820px}
.m-p2-2{width: 80px; height: 80px;position: absolute;left: 270px;top: 860px;z-index: 200;}
.m-p2-3{width: 50px; height: 50px;position: absolute;left: 180px;top: 880px;z-index: 200;}

/*p3*/
.p3{overflow: hidden;}
.con1{width: 34px; height: 34px;opacity: 0.3;}
.p3 .btn1{width: 100px; height: 100px;position: absolute;left: 310px;top: 885px;}
.p3 .btn2{width: 60px; height: 60px;position: absolute;left: 175px;top: 900px;}
.p3 .con2{width: 262px; height: 34px;font-size: 26px;font-width:5px;
	    color: #5d87ad;border: 2px solid #f4bdbd;padding-left: 5px;}
.p3 .e-1-1{position: absolute;left: 276px;top: 206px;}
.p3 .e-1-2{position: absolute;left: 420px;top: 206px;}
.p3 .e-2{position: absolute;left: 276px;top: 340px;}
.p3 .e-3{position: absolute;left: 276px;top: 407px;}
.p3 .e-3-1{position: absolute;left: 276px;top: 405px;}
.p3 .e-3-2{position: absolute;left: 420px;top: 405px;}
.p3 .e-4{position: absolute;left: 276px;top: 472px;}
.p3 .e-5{position: absolute;left: 276px;top: 605px;}
.p3 .e-6{position: absolute;left: 276px;top: 672px;}
.p3 .e-7{position: absolute;left: 276px;top: 739px;}
.p3 .e-8{position: absolute;left: 276px;top: 803px;}
.p3 .e-9{position: absolute;left: 276px;top: 540px;width:270px;height: 36px;
	font-size: 28px;font-width:5px;border: 2px solid #f4bdbd;padding-left: 5px;color: #5d87ad;}
.p3 .e-11{position: absolute;left: 276px;top: 278px;width:270px;height: 36px;
	font-size: 28px;font-width:5px;border: 2px solid #f4bdbd;padding-left: 5px;color: #5d87ad;}
.p3 .btn3{width: 80px; height: 80px;position: absolute;left: 279px;top: 885px;}
.m-p3-2{width: 90px; height: 80px;position: absolute;left: 230px;top: 875px;}
.p3 select >option{color:#5d87ad;}
.p3 .hit{width: 340px; height: 40px;position: absolute;left: 150px;top: 845px;
	font-size: 26px;font-width:5px;color: red;text-align: center;}
.con1{
  width: 34px;
  height: 34px;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.con1 label {
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 7px;
/*  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
/*  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;*/
}
.con1 label:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: -0.7px;
  left: -2px;
  background: #00bf00;
 /* background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(to bottom, #00bf00 0%, #009400 100%);*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
/*  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}
.con1 label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.con1 input[type=radio] {
  visibility: hidden;
}
.con1 input[type=radio]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*p4*/
/*.p4{overflow: hidden;}*/
.p4 .btn1{width: 90px; height: 90px;position: absolute;left: 273px;top: 905px;}
.p4 .btn2{width: 65px; height: 65px;position: absolute;left: 415px;top: 915px;}
.p4 .e-10-1{position: absolute;left: 98px;top: 830px;}
.p4 .e-10-2{position: absolute;left: 369px;top: 830px;}
.m-p4-2{width: 80px; height: 80px;position: absolute;left: 240px;top: 850px;}
.m-p4-4{width: 80px; height: 80px;position: absolute;left: 165px;top: 850px;}
.m-p4-5{width: 80px; height: 80px;position: absolute;left: 300px;top: 850px;}
/*p5*/
.p5 .btn1{width: 100px; height: 100px;position: absolute;left: 260px;top: 870px;}
.p5 .e-1{position: absolute;left: 220px;top: 367px;}
.p5 .con{width: 200px; height: 40px;border: 3px red;font-size: 25px;font-width: 5px; 
	  color:#5d87ad;text-align: center;padding-top: 7.5px;}
.p5 .e-2{position: absolute;left: 220px;top: 443px;}
.p5 .e-3{position: absolute;left: 220px;top: 519px;}
.p5 .e-4{position: absolute;left: 220px;top: 600px;}
.p5 .e-5{position: absolute;left: 220px;top: 675px;}
.m-p5-2{width: 90px; height: 90px;position: absolute;left: 230px;top: 870px;}

